################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FriendData/bin
/FriendData/obj
/FriendData.MsSql/bin
/FriendData.MsSql/obj
/FriendData.MySql/bin
/FriendData.MySql/obj
/FriendData.Oracle/bin
/FriendData.Oracle/obj
/FriendData.Sqlite/bin
/FriendData.Sqlite/obj
/FriendWizard/bin
/FriendWizard/obj
/FriendPackage/bin
/FriendPackage/obj
/FriendControlsIcons/bin
/FriendControlsIcons/obj
/FriendControls/bin
/FriendControls/obj
/FriendConnector/bin
/FriendConnector/obj
/FriendBase/bin
/FriendBase/obj
/.vs
